<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Exercise 01</ion-card-title>
  </ion-card-header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png">
  <ion-card-content>
    This Exercise should familiarize you with the basic of yoga so you can start off your day nice and peacefully. 
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Exercise 01</ion-card-title>
  </ion-card-header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png">
  <ion-card-content>
    This Exercise should familiarize you with the basic of yoga so you can start off your day nice and peacefully. 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Exercise 01</ion-card-title>
  </ion-card-header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png">
  <ion-card-content>
    This Exercise should familiarize you with the basic of yoga so you can start off your day nice and peacefully. 
  </ion-card-content>
</ion-card>


<ion-scroll scroll>
</ion-scroll>


</ion-content>


