<ion-header>
  <ion-toolbar>
    <ion-title id="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        Name
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Description
      </ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Exercises:</ion-label>
      <ion-button (click)="showAddExerciseModal()" item-right><ion-icon name="add"></ion-icon></ion-button>
      <p id="exercises">
        
      </p>
    </ion-item>
  </ion-list>
</ion-content>
