<ion-header>
  <ion-toolbar>
    <ion-title id="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        Name
      </ion-label>
      <ion-input [(ngModel)]="inputPlaylistName" (ionChange)="updateInput()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Description
      </ion-label>
      <ion-textarea [(ngModel)]="inputPlaylistDescription"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Exercises:</ion-label>
      <ion-button (click)="showAddExerciseModal()" item-right><ion-icon name="add"></ion-icon></ion-button>
    </ion-item> 
    <ion-item [hidden]="isHidden">
      <ion-list id="exercises_popover_list">
        
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-button id="storeNewPlaylistButton" (click)="storePlaylist()">Store</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
