<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [hidden]="isHidden" expand="block" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-toolbar>
      <ion-title id="lastPlayedActivityTitle"></ion-title>
    </ion-toolbar>
    <div id="lastPlayedActivity"></div>
  </ion-card>
  <ion-card>
    <ion-toolbar>
      <ion-title>Your most loved Activity:</ion-title>
    </ion-toolbar>
    <div id="mostPlayedActivity"></div>
  </ion-card>

</ion-content>
